@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.btn1 {
  background: #555 !important;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border: 2px solid transparent;
  outline: none;
  font-weight: 500;
  text-align: start;
  transition: all 0.3s linear;
}
.btn1:hover {
  background: transparent !important;
  border: 2px solid #555;
}

.bg-light {
  background-color: transparent !important;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
  }
  .carousel-caption {
    bottom: 165px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption p {
    width: 100%;
  }
}

/* banners */
#offers {
  margin-top: 2rem;
  padding: 6rem 4rem;
}
#offers .containers {
  height: 60vh;
  padding: 2rem 3rem;
  background: url("./assets/baneer.jpg") center/cover no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
}
.content-text span {
  font-size: 28px;
}
.content-text h3 {
  font-size: 50px;
  font-family: var(--font-lg);
}

@media (max-width: 800px) {
  #offers {
    margin-top: 2rem;
    padding: 6rem 1rem;
  }
  #offers .containers {
    height: 60vh;
    padding: 2rem 3rem;
    background: url("./assets/baneer.jpg") center/cover no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .content-text span {
    font-size: 18px;
  }
  .content-text h3 {
    font-size: 30px;
    font-family: var(--font-lg);
  }
}

/* Blog post basic css */
.card {
  background: pink;
}
.card .blog-image {
  position: relative;
}

.card .blog-image img {
  width: 100%;
  height: 300px;
}

.card .tag {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 0 15px;
  color: #ffffff;
}

.card .blog-content {
  padding: 25px 15px;
}

.card .blog-title {
  font-size: 18px;
  font-weight: 500;
}

.card .blog-subtitle {
  font-weight: 400;
  color: #333;
  margin-bottom: 16px;
}

.card .blog-desc {
  font-size: 14px;
}

.card .blog-desc a {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.card .blog-footer {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.card .blog-author {
  font-size: 14px;
  font-weight: 500;
}

.card .blog-post {
  font-size: 12px;
  color: #b3b2b2;
}

.card .blog-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin-right: 20px;
}

.card .blog-avatar img {
  width: 100%;
}

.card .blog-comment {
  margin-left: 10px;
}

/*======================== FOOTER ========================*/
.footer {
  padding: 2rem 6rem;
  margin-top: 6rem;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}
.detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.text-content {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 16px;
}
.social-icons {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

/* .text-content .title{

} */
/* blog detail pages */
.detail-blog {
  width: 80%;
  height: 600px;
}

@media (max-width: 990px) {
  .detail-blog {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 2rem 3rem;
  }
}

/* comments */
.comments {
  padding: 2rem 4rem;
}

.show-comments {
  display: flex;
  background: #fefefe;
  width: 800px;
  gap: 15px;
  margin-top: 30px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}
.comments form {
  width: 800px;
}
.show-comments img {
  border-radius: 50%;
}
.comment-detail p:nth-child(1) {
  margin: 0;
  font-weight: bold;
}
.comment-detail .comment-text {
  margin-top: 0.5rem;
  font-size: 16px;
  color: #777;
}

@media (max-width: 950px) {
  .show-comments {
    width: 90%;
  }
  .comments form {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .comments {
    padding: 2rem 1rem;
  }
  .show-comments {
    width: 100%;
  }
  .comments form {
    width: 100%;
  }
}

/* spinner */
.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(85, 85, 85, 0.136);
}

.swiper {
  width: 100%;
  height: 100%;
}

.blog-icon {
  cursor: pointer;
  color: #333;
  transition: all 0.3s linear;
  font-size: 1.3rem;
}
.blog-icon:hover {
  color: rgb(147, 13, 13);
}
